$subnav-link-padding: 0.9rem;
$subnav-font-size: 0.75rem;
$subnav-link-opacity: 0.15;
$header-height: 0.5rem;
$transition: all .35s ease-in-out;

.header {
  text-align: center;
  position: absolute;
  width: 100%;
  background: transparent;
  background-size: cover;
  overflow: visible;
  padding-top: $header-height;
  padding-bottom: $header-height;

  
  .headline {
    color: get-color(gray, 1);
  }
}