.main-container {
  .main-banner {
    background: url("../assets/images/main_img.jpeg") no-repeat;
    background-position: center center;
    background-size: cover;
  }
  .main-banner-info {
    min-height: 80vmin;
  }
  .input-search-bar {
    text-align: center;
  }
  .main-search {
    min-width: 30%;
  }
}

