<div class="regis-container registration-form">
  <div class="row align-center">
    <div class="columns medium-8 small-centered">
      <span>We need your email address <input type="email" placeholder="abc@xyz.com" data-ng-model="$ctrl.signUpData.email">
        to register as user and password to create account <input type="password" placeholder="enter your password" data-ng-model="$ctrl.signUpData.password">
        and we need your phone number <input type="number" password="phone number" data-ng-model="$ctrl.signUpData.phoneNumber"> so customers can reach you and continue.
        </span>
    </div>
  </div>
  <div class="row align-center continue-button">
    <button class="primary double-padding" data-ng-click="$ctrl.continue()">Continue</button>
  </div>
</div>
