<div class="regis-container registration-form">
  <div class="row align-center">
    <div class="columns medium-8 small-centered">
      <span>My current email address is <input type="email" placeholder="abc@xyz.com" data-ng-model="$ctrl.signUpData.email">
      and phone number is <input type="number" placeholder="phone number" data-ng-model="$ctrl.signUpData.phoneNumber">
        . I will use <input type="password" placeholder="enter your password" data-ng-model="$ctrl.signUpData.password">
        as my password.
        </span>
    </div>
  </div>
  <div class="row align-center continue-button">
    <button class="primary double-padding" data-ng-click="$ctrl.continue()">Continue</button>
  </div>
</div>
